
<!-- <div class="p-text-center navigation p-shadow-24">
    <div>

        <fa-icon [icon]="faInstagram"></fa-icon>
    </div>
    <p-divider></p-divider>
    
        <img src="assets/lavkliga-logos/lavkliga.png">
        <ul class="link-list">
            <li>
                <a routerLink="/homepage">HOME</a>
            </li>
            <li>
                <a routerLink="/liga">LIGA</a>
            </li>
            <li>
                <a routerLink="/info">O LIGI</a>
            </li>
            <li>
                <a routerLink="/info">LJESTVICA</a>
            </li>
        </ul>
</div> -->



<div class="nav p-shadow-10">
    <img src="assets/lavkliga-logos/logo.png">
    <div class="nav-icons">
        <a [routerLink]="" (click)="openSite('https://www.facebook.com/lavkliga/')"><fa-icon [icon]="faFacebook"></fa-icon></a>
        <a [routerLink]="" (click)="openSite('https://www.instagram.com/lavkliga/')" ><fa-icon [icon]="faInstagram"></fa-icon></a>
    </div>
    <ul class="nav-link-list">
        <li>
            <a routerLink="/homepage">HOME</a>
        </li>
        <li>
            <a routerLink="/liga">LIGA</a>
        </li>
        <li>
            <a routerLink="/info">O LIGI</a>
        </li>
        <li>
            <a routerLink="/ljestvica">LJESTVICA</a>
        </li>
        <li>
            <a routerLink="/ekipe">EKIPE</a>
        </li>
    </ul>
</div>


<!-- 
<div style="margin: 0 0 2rem 0;"  class="p-grid">
    <div style="padding: 0; width:220px" class="p-col-fixed">
        <div class="box box-stretched">
            <img src="assets/lavkliga-logos/lavkliga.png">
        </div>
    </div>
    <div style="padding: 0;" class="p-col">
        <div style="margin: 0;" class="p-grid">
            <div style="padding: 0;" class="p-col-12">
                <div class="box"></div>
            </div>
            <div style="padding: 0;" class="p-col-3">
                <div class="box justify-container">HOME</div>
            </div>
            <div style="padding: 0;" class="p-col-3">
                <div class="box justify-container">LIGA</div>
            </div>
            <div style="padding: 0;" class="p-col-3">
                <div class="box justify-container">O LIGI</div>
            </div>
            <div style="padding: 0;" class="p-col-3">
                <div class="box justify-container">LJESTVICA</div>
            </div>
        </div>
    </div>
    
</div> -->
