<div class="p-d-flex p-jc-center">
    <div class="wrapper p-shadow-8">
        <!-- <div class="p-mb-3 p-text-center navigation">
            TEKST
        </div> -->

        <div>
            <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '100%'}" [numVisible]="5"
                [circular]="true" [showItemNavigators]="true" [showItemNavigatorsOnHover]="true" [autoPlay]="true" [showThumbnails]="false">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
                </ng-template>
            </p-galleria>
        </div>
        <!-- <div class="p-jc-center p-grid">
            <div class="p-col">
                <div class="box">
                    <p-card header="Content" [style]="{'width': '30rem', 'margin':'0 auto'}">
                        
                    </p-card>
                </div>
            </div>
            <div class="p-col">
                <div class="box">
                    <p-card header="Content" [style]="{'width': '30rem', 'margin':'0 auto'}">
                        Content
                    </p-card>
                </div>
            </div>
        </div> -->

        <!-- <app-table></app-table> -->
        <div style="margin: 0 auto; width: 450px;">
            <h3>Ljestvica</h3>
            <p-table [columns]="columns" [value]="data">
                <ng-template pTemplate="header" let-columns >
                    <tr>
                        <th [style]="{'width': '1rem'}">
                            #
                        </th>
                        <th [ngStyle]="{'width': col.columnDef == 'team' ? '70px' : '1rem'}" *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                    <tr>
                        <td>
                            {{ i + 1 }}
                        </td>
                        <td *ngFor="let col of columns">
                            <img *ngIf="col.columnDef == 'team'" src="../../../assets/lavkliga-logos/{{rowData.image}}.png" width="32" style="vertical-align: middle" />
                            {{ col.cell(rowData) }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        
        
    </div>
</div>