<video autoplay [muted]="true" loop id="myVideo">
    <source src="../../../assets/homepage_video.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>

<div class="transparent">
  <div class="logo-list">
    <img style="width: 70px; height: 70px;" src="../../../assets/lavkliga-logos/bajerminken.png">
    <img style="width: 70px; height: 70px;" src="../../../assets/lavkliga-logos/borussia.png">
    <img style="width: 70px; height: 70px;" src="../../../assets/lavkliga-logos/brijuni.png">
    <img style="width: 70px; height: 70px;" src="../../../assets/lavkliga-logos/caritas.png">
    <img style="width: 70px; height: 70px;" src="../../../assets/lavkliga-logos/deportivo.png">
    <img style="width: 150px; height: 70px;" src="../../../assets/lavkliga-logos/dzabalebarosi.png">
    <img style="width: 70px; height: 70px;" src="../../../assets/lavkliga-logos/pakleni.png">
    <img style="width: 100px; height: 70px;" src="../../../assets/lavkliga-logos/reba.png">
    <img style="width: 120px; height: 70px;" src="../../../assets/lavkliga-logos/vinkulja.png">
    <p-divider></p-divider>
  </div>
  <div class="content">
    <div class="border">
      <!-- <h1 style="margin: 0;">Welcome to </h1> -->
      <h1 style="margin: 0; text-align: center;">La Vk Liga</h1>
    </div>
  </div>

  <div class="footer">
    <a routerLink="/liga" routerLinkActive="active">Vidi vise</a>
  </div>
</div>