/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
html, body { height: 100%; }
body { 
    margin: 0; 
    // font-family: 'Goblin One', cursive;
    font-family: 'Jockey One', sans-serif;
    // background-color: #2a323d;
    // color: white;
}