
<!-- <div style="margin: 0 auto; width: 80rem;">
    <div *ngFor="let team of data">
        <div>
            <img src="../../../assets/lavkliga-logos/{{team.image}}.png" width="100" style="vertical-align: middle" />
            {{ team.team }}
        </div>
    </div>
</div> -->

<!-- <div style="margin: 0 auto; width: 80rem; background-color: #293d08;" class="p-grid">
    <div  class="p-col-4">
        
    </div>
</div> -->

<div class="flex-center-items">
    <div class="team-container" *ngFor="let team of data">
        <div (click)="test(team)" style="cursor: pointer;" class="box">
            <img *ngIf="team.image != 'vinkulja' && team.image != 'dzabalebarosi'" src="../../../assets/lavkliga-logos/{{team.image}}.png" width="110" height="100" style="vertical-align: middle"/>
            <img *ngIf="team.image == 'vinkulja' || team.image == 'dzabalebarosi'" src="../../../assets/lavkliga-logos/{{team.image}}.png" width="180" height="100" style="vertical-align: middle"/>
            <div style="color: white">
    
                {{ team.team }}
            </div>
        </div>
    </div>
</div>
