.box {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.flex-center-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-container{
    width: 60%;
    margin: 1rem;
}